.contact-bg{
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-card{
    background: transparent;
    position: relative;
    width: 450px;
    height: 300px;
    z-index: -1;
    
}

.contact-card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(77 ,182 ,233, 0.3);
    border-radius: 20px;
    z-index: -1;
}

.contact-item{
    display: flex;
    background-color: #fada7a;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    height: 55px;
    width: 90%;
    align-items: center;
}

.email-item{
    display: flex;
    background-color: #fada7a;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    height: 55px;
    width: 90%;
    align-items: center;
}

.divider{
    width: 80%;
    margin: 15px 0px 10px 45px;
}

.location-item{
    display: flex;
    background-color: #fada7a;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    height: 55px;
    width: 90%;
    align-items: center;
}

.contact-icons{
    height: 50px;
    object-fit: contain;
    padding: 10px;
}

.contact-text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 300px;
    text-align: center;
}

.location{  
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    color: grey;
    font-size: 15px;
    margin-bottom: -20px;
}