footer{
    background-color: rgba(239 ,243 ,234, 0.3);
    color: #333;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    margin-bottom: 70px;
    font-family: 'Poppins';  
}

.links{
    flex-direction: column;
    gap: 8px;
}

.footer-column {
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px -70px 0px 100px;
}

.footer-column-a{
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 150px;
}

.about-desc{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 370;
}

.link-media, .link-media-2{
    font-size: 15px;
    font-family: 'Poppins';
}
.link-media-2{
    margin-left: -20px;
}

.about-title{
    margin-bottom: 10px;
    color: #4db6e9;
}

.footer-column a {
    text-decoration: none;
    color: #333;
}

.footer-column a:hover {
    color: red;
}

.footer-bottom {
    background-color: #81bfda; 
    color: black; 
    text-align: center; 
    padding: 25px;
    margin: -20px;
    justify-content: center;
    align-items: center;
    
}

.foot-desc{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
}

iframe{
    margin: 0px -50px 0px 50px;
}




