.gallery-title{
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 40px 0px;
    padding-top: 100px;
    font-family: genty sans;
    margin-top: -100px;
}
.gallery{
    margin-top: -80px;
}

.gallery-card{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    
}

.gallery_row{
    width: 300px;
    object-fit: cover;
    border: 5px solid #4db6e9;
    
}

.gallery-card, .gallery_row{
    height: 300px;
    margin-top: 70px;
    border-radius: 50%;
}