.side-bar{
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
}

.admin-profile{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.admin-info{
  display: flex;
  margin-bottom: 25px;
}

.admin-img{
  width: 28px;
}

.img-container{
  margin-right: 15px
}

.img-border{
  background-color: rgb(192, 188, 188);
  border-radius:  25px;
  padding: 10px;
  height: 28px;
}

.admin-acc{
  padding-top: 5px;
}

.admin-name{
  font-size: 18px;
}

.admin-email{
  font-size: 14px;
  color:  gray;
}

.logout-btn{
  width: 150px;
  height: 25px;
  border: none;
  background-color:  #4db6e9;
  color: white;
  font-weight: bold;
}

.line{
  margin: 0px 10px 0px 10px;
}

/* sidebar-buttons */

.sidebar-btns{
  display: grid;
}

.side-btn{
  display: flex;
  width: 100px;
  height: 50px;
  border: none;
  font-size: 17px;
  align-items: center;
  padding-left: 40px;
  cursor: pointer;
}

.side-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-btn-container:hover{
  background-color:  #4db6e9;
  color: white;
}

.img-btn{
  width: 17px;
}
